.homepage-mobile {
    .left-calendar-box {
        margin-top: 5.5rem;

        .event-content-box {
            .event-list-box {
                overflow: hidden;
                max-height: initial;
            }
        }
    }


}