.homepage {
    padding: 1rem;
    justify-content: center;
    align-items: stretch;

    .left-calendar__box {
        background-color: $color-white;
        margin-right: 2rem;
    }

    .right-calendar__box {
        background-color: $color-white;


    }
}