// Color
$color-primary: #E4F6ED; //Calendar Tile Color
$color-primary-light:#5684AE; //Light Blue 
$color-primary-dark: #0F4C81; // Dark Blue

$color-secondary-light:#FFE4C8; //Light Orange
$color-secondary-dark: #F9BE81; // Dark Orange

$color-white: #fff;
$color-gray: #a9abad;
$color-black: #000;

$color-background: #E4F6D2;
// Font-size
$default-color: #000;
$default-font-size: 1.6rem;